$background-1:    #191919;
$background-2:    #515151;
$background-3:    #24222A;
$background-4:    #302E38;
$highlight-1:     #CD1D48;
$highlight-1s:    #FF5580;
$highlight-2:     #00FFAA;
$highlight-3:     #8C66FF;
$highlight-3s:    #A87AFF;
$text-1:          #FFFFFF;
$text-2:          #E0DBF0;

